
.pageBgPosts
  background-color: $secondary-bg-color
  // background-color: $secondary-bg-color
  // background-color: $decoration-color
  animation: opacity 2s ease-out
  overflow-Y: hidden
  // padding-top: 5rem
  // padding-bottom: 10rem

@keyframes  opacity
  0%
    opacity: 0
  100%
    opacity: 1



// .post > *
//   margin-bottom: $vertical-rhytm / 4
.post
  background-color: $primary-bg-color
  -webkit-column-break-inside: avoid
  page-break-inside: avoid
  break-inside: avoid
  margin-bottom: $vertical-rhytm
  padding-left: $vertical-rhytm / 2
  padding-right: $vertical-rhytm / 2
  padding-bottom: $vertical-rhytm / 2
  // box-shadow: 1px 1px 3px rgba($shadow, 0.25)
  box-shadow: 2px 2px 4px lighten(rgba(black, 0.5), 40%)


.postHoverGroup
  text-decoration: none

.postHoverGroup:hover
  .postTitle
    color: $hovered-decoration-color
  .postImage
    transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1)

.postFigure
  height: 250px
  // max-height: 300px
  width: calc(100% + #{$vertical-rhytm})
  margin-left: -$vertical-rhytm / 2
  margin-right: -$vertical-rhytm / 2
  overflow: hidden
  position: relative
  // z-index: 999
  @media(max-width: 450px)
    height: 200px

.postImage
  display: block
  // max-height: 300px
  height: 100%
  width: 100%
  object-fit: cover
  position: absolute
  top: 50%
  left: 0
  // min-height: 100%
  width: 100%
  // margin-left
  transition: transform 0.5s 0.1s, opacity 0.5s 0.1s
  transform: translate3d(0, -50%, 0)

.postTitle
  font-weight: bold
  color: $decoration-color
  line-height: 1

  transition: color $transition
  padding-top: $vertical-rhytm / 2
  font-size: $medium-font-size
  margin-bottom: $vertical-rhytm / 4

.postDataGroup
  display: flex
  margin-bottom: $vertical-rhytm / 2

.postAuthor
  font-weight: bold
  font-size: $small-font-size
  color: $basic-font-color
.postDate
  font-size: $small-font-size
  margin-left: $vertical-rhytm

.postExcerpt
  -webkit-column-break-inside: avoid
  page-break-inside: avoid
  break-inside: avoid
  color: $basic-font-color
  line-height: 1.55
  font-family: 'Slabo 13px', serif
  font-size: $small-font-size
