
$color: red
$basic-font-size: calc(0.9rem + (1.3 - 0.9) * ((100vw - 18.75em) / (75 - 18.75)))
$line-height: 1.4
$vertical-rhytm: calc(#{$basic-font-size}*#{$line-height})
// $sans-serif: 'Quicksand', sans-serif
$sans-serif: 'Raleway', sans-serif
$sans: 'Cardo', serif
$green: darken(#AFBE65, 10%)

$p: 1em
$h1: 5.61em
$h2: 4.209em
$h3: 3.157em
$h4: 2.369em
$h5: 1.777em
$h6: 1.333em
