/*
   Sass Reset - Converted by Hampton Catlin
   A modification of the original found at...
   http://meyerweb.com/eric/tools/css/reset/
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

:root {
  font-family: "Raleway", sans-serif;
  font-kerning: normal;
  line-height: 1.55;
  font-variant-numeric: oldstyle-nums;
  font-variant-ligatures: common-ligatures;
  text-rendering: geometricPrecision; }

html {
  font-size: calc(13.312px + 3.328 * ((100vw - 300px) / 1100)); }

body {
  line-height: 1.55; }

.l-wide {
  max-width: calc(1400px - 4.03rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.015rem;
  padding-right: 2.015rem; }
  @media (max-width: 600px) {
    .l-wide {
      padding-left: 1.0075rem;
      padding-right: 1.0075rem; } }
  @media (max-width: 450px) {
    .l-wide {
      padding-left: 0.50375rem;
      padding-right: 0.50375rem; } }

.sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: calc(2.015rem*2); }

.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 0;
  background-color: rgba(55, 61, 26, 0.8); }

.navigationList {
  list-style-type: none;
  display: flex; }

.navigationLink {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5em 0 0.5em 1em;
  display: block; }

.navHeaderContainer {
  background-color: #fbfbfb;
  color: #a6b653;
  box-shadow: 0px 0px 4px rgba(102, 102, 102, 0.5); }

.navHeaderContent {
  padding-top: 0.50375rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline; }
  @media (max-width: 600px) {
    .navHeaderContent {
      display: block; } }

.bold {
  font-weight: bold; }

.navHeaderTitle {
  font-size: 2.031rem;
  font-weight: bold;
  white-space: nowrap;
  letter-spacing: 0.03em;
  margin-right: 2.015rem; }
  @media (max-width: 450px) {
    .navHeaderTitle {
      text-align: center;
      margin-left: auto;
      margin-right: auto; } }

.navList {
  display: flex; }
  @media (max-width: 450px) {
    .navList {
      justify-content: center;
      flex-wrap: wrap; } }

.pageNavLink {
  text-decoration: none;
  font-size: 1.3rem;
  color: #a6b653;
  font-weight: 500;
  white-space: nowrap;
  transition: color 0.25s ease; }
  @media (max-width: 770px) {
    .pageNavLink {
      margin-bottom: 1.0075rem; } }
  .pageNavLink:hover {
    color: #687331; }

.navItem + .navItem {
  margin-left: 1.0075rem; }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.pageBg {
  background-color: #fbfbfb;
  animation: opacity 2s ease-out;
  overflow-Y: hidden; }

.pageBgImage {
  background-image: url("../../assets/hero_karpaty.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.pageBgOverlay {
  height: 100vh;
  position: relative;
  background-color: rgba(77, 77, 77, 0.35);
  display: flex;
  justify-content: center;
  align-items: center; }

.pageHeader {
  display: block;
  border: 2px solid white;
  padding: 1.0075rem;
  animation: opacity 3s ease-out; }

.pageTitle {
  line-height: 1;
  font-size: 6.199em;
  font-weight: bold;
  color: white; }
  @media (max-width: 620px) {
    .pageTitle {
      font-size: 3.967rem; } }
  @media (max-width: 500px) {
    .pageTitle {
      font-size: 3.174rem; } }

.pageNavList {
  font-weight: 500;
  display: flex;
  margin-left: -1.5em;
  justify-content: center; }
  @media (max-width: 650px) {
    .pageNavList {
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin-left: 0; } }

.pageNavItem {
  display: flex;
  font-size: 1.625rem; }

.pageNavItem + .pageNavItem {
  margin-left: 0.5em; }

.navLink {
  color: white;
  white-space: nowrap;
  text-decoration: none; }
  @media (max-width: 650px) {
    .navLink {
      margin-bottom: 0.25em; } }

.arrow {
  color: white;
  opacity: 0;
  transition: all 0.25s ease-out;
  display: block;
  transform: translateX(-15px);
  padding-right: 2px; }

.pageNavItem:hover .arrow {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.25s ease-in; }

.pageBgPosts {
  background-color: #d5dcad;
  animation: opacity 2s ease-out;
  overflow-Y: hidden; }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.postsContainer {
  padding-top: 2.015rem;
  column-count: 3;
  min-height: 100vh;
  column-width: 300px;
  column-gap: 2.015rem; }

.post {
  background-color: #fbfbfb;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 2.015rem;
  padding-left: 1.0075rem;
  padding-right: 1.0075rem;
  padding-bottom: 1.0075rem;
  box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.5); }

.postHoverGroup {
  text-decoration: none; }

.postHoverGroup:hover .postTitle {
  color: #687331; }

.postHoverGroup:hover .postImage {
  transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1); }

.postFigure {
  height: 250px;
  width: calc(100% + 2.015rem);
  margin-left: -1.0075rem;
  margin-right: -1.0075rem;
  overflow: hidden;
  position: relative; }
  @media (max-width: 450px) {
    .postFigure {
      height: 200px; } }

.postImage {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transition: transform 0.5s 0.1s, opacity 0.5s 0.1s;
  transform: translate3d(0, -50%, 0); }

.postTitle {
  font-weight: bold;
  color: #262626;
  line-height: 1;
  transition: color 0.25s ease-out;
  padding-top: 1.0075rem;
  font-size: 1.625rem;
  margin-bottom: 0.50375rem; }

.postDataGroup {
  display: flex;
  margin-bottom: 1.0075rem; }

.postAuthor {
  font-weight: bold;
  font-size: 1.04rem;
  color: #262626; }

.postDate {
  font-size: 1.04rem;
  margin-left: 2.015rem; }

.postExcerpt {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  color: #262626;
  line-height: 1.55;
  font-family: 'Slabo 13px', serif;
  font-size: 1.04rem; }

.isActive {
  color: blue; }
