@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.pageBgImage {
  background-color: #fbfbfb;
  animation: opacity 2s ease-out;
  overflow-Y: hidden; }

.pageBgImage {
  background-image: url("../assets/hero_karpaty.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
