:root {
  font-family: 'Raleway', sans-serif;
  line-height: 1.55;
  font-variant-numeric: oldstyle-nums;
  font-variant-ligatures: common-ligatures;
  font-kerning: normal;
  text-rendering: geometricPrecision; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  font-size: calc(13.312px + 3.328 * ((100vw - 300px) / 1100)); }

.pageBg {
  background-color: #d5dcad;
  animation: opacity 2s ease-out;
  overflow-Y: hidden;
  padding-bottom: 10rem; }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.navHeaderContainer {
  background-color: #fbfbfb;
  color: #a6b653;
  border-bottom: 2px solid #a6b653;
  box-shadow: 0px 0px 4px rgba(102, 102, 102, 0.5); }

.l-wide {
  max-width: calc(1400px - 4.03rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.015rem;
  padding-right: 2.015rem; }
  @media (max-width: 600px) {
    .l-wide {
      padding-left: 1.0075rem;
      padding-right: 1.0075rem; } }
  @media (max-width: 450px) {
    .l-wide {
      padding-left: 0.50375rem;
      padding-right: 0.50375rem; } }

.navHeaderContent {
  padding-top: 1.0075rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline; }
  @media (max-width: 600px) {
    .navHeaderContent {
      display: block; } }

.bold {
  font-weight: bold; }

.navHeaderTitle {
  font-size: 2.031rem;
  font-weight: bold;
  margin-bottom: 1.0075rem;
  white-space: nowrap;
  letter-spacing: 0.03em;
  margin-right: 2.015rem; }
  @media (max-width: 450px) {
    .navHeaderTitle {
      text-align: center;
      margin-left: auto;
      margin-right: auto; } }

.navList {
  display: flex; }
  @media (max-width: 450px) {
    .navList {
      justify-content: center;
      flex-wrap: wrap; } }

.navItem {
  font-size: 1.3rem;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.25s ease; }
  @media (max-width: 770px) {
    .navItem {
      margin-bottom: 1.0075rem; } }
  .navItem:hover {
    color: #687331; }

.active {
  color: #a6b653; }

.navItem + .navItem {
  margin-left: 1.0075rem; }

.postsContainer {
  padding-top: 2.015rem;
  column-count: 3;
  min-height: 100vh;
  column-width: 300px;
  column-gap: 2.015rem; }

.post {
  background-color: #fbfbfb;
  margin-bottom: 2.015rem;
  padding-left: 1.0075rem;
  padding-right: 1.0075rem;
  padding-bottom: 1.0075rem;
  box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.5); }

.postHoverGroup:hover {
  cursor: pointer; }
  .postHoverGroup:hover .postTitle {
    color: #687331; }
  .postHoverGroup:hover .postImage {
    transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1); }

.postFigure {
  height: 250px;
  width: calc(100% + 2.015rem);
  margin-left: -1.0075rem;
  margin-right: -1.0075rem;
  overflow: hidden;
  position: relative; }
  @media (max-width: 450px) {
    .postFigure {
      height: 200px; } }

.postImage {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transition: transform 0.5s 0.1s, opacity 0.5s 0.1s;
  transform: translate3d(0, -50%, 0); }

.postTitle {
  font-weight: bold;
  color: #a6b653;
  text-decoration: none;
  transition: color 0.25s ease-out;
  padding-top: 1.0075rem;
  font-size: 1.625rem;
  margin-bottom: 0.50375rem; }

.postDataGroup {
  display: flex;
  margin-bottom: 1.0075rem; }

.postAuthor {
  font-weight: bold;
  font-size: 1.04rem;
  color: #262626; }

.postDate {
  font-size: 1.04rem;
  margin-left: 2.015rem; }

.postExcerpt {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  color: #262626;
  line-height: 1.55;
  font-family: 'Slabo 13px', serif;
  font-size: 1.04rem; }
